<html>

  <head>
    <meta charset="utf-8" />
    <title>Parking App</title>
    <style>
      input{ padding: 10px; cursor: pointer;} td{ padding: 15px; } button{padding: 10px; font-size: 20px; cursor: pointer;} table{border-style: groove;} th{border-style: groove; padding: 10px;} select{padding: 7px; font-size: 15px;}
      #data-table tr:nth-child(even){background-color: #f2f2f2;} #data-table tr:hover {background-color: #ddd;}
    </style>
  </head>

  <body>

    {{{body}}}

  </body>

</html>